body
{
background-color: darkseagreen;   
background-attachment: fixed;

    
}

#nav
{
position: fixed;
top:0;    
background-color:none;
width:100%;    
height:200px;
left:0;
z-index: 100000;
text-align: center;
border-bottom:2px solid white ;
}
#nav>*
{
    display: block;
}
#nav ul
{
list-style: none;
display: inline-block; 
border: 3px solid none;   
width: 500px;
height:50px;
}

#nav ul >li
{
display: inline-block; 
margin-right:80px;
width: 140px;
height: 100%;;
font-size:30px;
color:rgb(7, 0, 0);
font-family:cursive;
border: 3px solid rgb(2, 2, 2);
font-weight: bold;
cursor: default;
transition: 300ms;
border-radius: 40px;
background-color: #ffff;
box-shadow: 2px 3px 7px gray;

}
#nav ul >li > .lbl{
    display: inline-block; 
    border-right: 4px solid black;
    background-color: #ffff;
    text-align: center;
    width: 70px;
    height: 100%;
    box-sizing: border-box;
    padding-top: 5px;
    border-radius: 40px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    

}
#nav ul >li > .score
{
    display: inline-block; 
    width: 30px;
    border: 3px solid none;
    height: 80%;
    box-sizing: border-box;  
}
#nav > #playerTurn
{
   border: 2px solid none; 
   height: 40px;
   font-family: cursive;
   font-size:1.5pc;
   font-weight: bold;
   color: rgb(0, 0, 0);
   transition: 300ms;
}


#Brand
{
color:rgb(0, 0, 0);    
font-family: cursive;
border-right: 3px solid white;    
font-weight: bold;
font-size: 50px;
text-shadow: 2px 3px 4px gray;
}



table
{
border-collapse: collapse;
/*border:5px solid White;*/
/*background-color:    chocolate;*/ 
margin:auto;
 position:relative;
top:230px;
width:500px;
height:300px;
box-sizing: border-box; 
}
tr{
/*border-right: 5px solid white;*/
box-sizing: border-box;    
}
td{
text-align: center;
font-size: 50px;
border-right: 5px solid white;
border-bottom: 5px solid white;
width:150px;
height:150px;
box-sizing: border-box; 
color:white;
cursor: pointer;
   
    
}
tr:last-child > td {
border-bottom:none;
}
tr > td:last-child {
border-right:0px solid cyan;    
}
td:hover
{
background-color:#ade6ad;
  
}